<mat-card class="mat-card">
    <mat-card-title>
        <h1>Chat Box SDV</h1>
    </mat-card-title>
    <mat-card-content>
      <ul>
        @for (item of messages | async; track item.content){
        <li>{{item.content}}</li>
        } @empty {
        <li>No messages</li>
        }
      </ul>
    </mat-card-content>
    <mat-card-actions> 
        <form [formGroup]="commentaireForm" (ngSubmit)="onSubmit()" >
            <mat-form-field>
                <mat-label>Ajouter un commentaire : </mat-label>
                <textarea name="message" formControlName="message" ></textarea>
            </mat-form-field>
            <button type="submit" mat-raised-button  value="Send">Envoyer</button>
        </form>
        <button mat-raised-button (click)="reloadChatBox()">Recharger</button>  
    </mat-card-actions>
</mat-card>
